/* Home-CSS */

.home-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  @media (max-width: 600px) {
    .home-container {
      grid-template-columns: 1fr;
    }
  }