/* Recipes.css */

.recipe-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.recipe-gallery__card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  margin: 1rem;
  cursor: pointer; /* Change cursor to indicate clickable */
  overflow: hidden;
  border-radius: 8px;
  background: #fff;
  width: 300px; /* or any specific width you prefer */
}
.recipe-gallery__card:hover {
  transform: scale(1.05); /* Slightly increase the size of the card */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  z-index: 10; /* Ensure the expanded card is above the others */
  /* Increase the box-shadow for a lifting effect */
}
.recipe-gallery__image {
  width: 100%;
  height: 200px; /* or any specific height you prefer */
  object-fit: cover;
}

.recipe-gallery__info {
  padding: 1rem;
}

.recipe-gallery__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.recipe-gallery__description {
  font-size: 1rem;
  color: #666;
  transition: max-height 0.3s ease; /* Transition for expanding description */
  max-height: 0; /* Start with a max-height of 0 to hide the description */
  overflow: hidden; /* Hide the overflow content */
  white-space: nowrap; /* Keep the text on a single line initially */
  text-overflow: ellipsis;
}
.recipe-gallery__card:hover .recipe-gallery__description {
  max-height: 500px; /* Increase max-height to show full description on hover */
  white-space: normal; /* Allow the text to wrap to new lines */
}
.recipe-gallery__actions {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}

.recipe-gallery__button {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.recipe-gallery__button:hover {
  background-color: #0056b3;
}