/* Recipes.css */

.recipes-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin-top: 50px;
    justify-content: center;
  }
  
.recipe-description {
    color: #666;
    font-size: 0.9em;
    line-height: 1.4;
    margin-bottom: 10px;
  }
  .recipe-item {
    width: 300px;
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Gradient background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */
  }
  
  .recipe-item:hover {
    transform: translateY(-5px); /* Slight lift effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increased shadow on hover */
  }
  .recipe-info {
    padding: 10px;
  }
  
  .recipe-name {
    margin: 0;
    color: #333;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
  }
